<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nududu |Profile | Change Password</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <div class="wrapper">
    <form method="POST" action="{{ url_for('auth.change_password', customer_id=current_user.id) }}">
      {{ form.hidden_tag() }}

      <h1>Change Password</h1>

      <div class="input-box">
        <label for="current_password">Current Password</label>
        {{ form.current_password(id="current_password") }}
        <i class='bx bxs-user'></i>
      </div>

      <div class="input-box">
        <label for="new_password">New Password</label>
        {{ form.new_password(id="new_password") }}
        <i class='bx bxs-user'></i>
      </div>

      <div class="input-box">
        <label for="confirm_new_password">Confirm New Password</label>
        {{ form.confirm_new_password(id="confirm_new_password") }}
        <i class='bx bxs-lock-open-alt'></i>
      </div>

      <div>
        {{ form.change_password(class_="btn") }}
      </div>

      <div class="register-link">
        <p>Don't have an account? <a href="{{ url_for('auth.sign_up') }}">Sign Up</a></p>
      </div>
    </form>
  </div>
</body>
</html>